.card-stax{
    width: 100%;
}

.create-card{
    width: 120px;
    margin: 10px auto;
}



/* Card animations */
.example-appear {
    opacity: 0.01;
  }
  
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 150ms ease-in;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  cursor: crosshair;
}

.option-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.option-buttons button{
  width: 150px;
  margin: 10px 5px 5px; 
}

.row{ 
  margin: 10px auto;
}