.friends-container{
    display: flex;
    flex-direction: row;
}

.friends-list{
    height: 100vh;
    overflow: auto; 
    min-width: 250px;
}

.friends-search{
    border-left: 1px solid #555;
    height: 100vh;
    width: 100%;
}


.search-form{
    margin: 100px 25%;
}




.friends-list p {
    margin: 10px auto;
    text-align: center;
    font-weight: 500;
    
}


/* Friend Style */


.box {
    background-color: white;
    box-shadow: 2px 2px 4px 2px #999;
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.pic{
    vertical-align: center;
    position: relative;
    border-radius: 50%;
    min-width: 35px;
    min-height: 35px;
    width: 4vw;
    height: 4vw;
    overflow: hidden;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.username{
    vertical-align: baseline;
    margin: auto 20px;
    width: 75%;
}

.remove{
    margin: auto;
    transition: 100ms;
}
.remove:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.remove img{
    width: 15px;
    object-fit: cover
}




.moods{ 
    width: 100%;
}

.moods .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.em-cont{
    background-color: aliceblue;
    width: 100px;
    margin: 5px ;
    border-radius: 10px;
}

.emotion{
    text-align: center;
    color: #52b1ff;
    font-weight: 600;
}

.emotion img{
    margin-top: 5px;
}

.chart{
  background-color: aliceblue;
  padding: 15px 0 ;
}

.chartdiv{
  margin: auto;
}

.savebtn{
  width: 120px;
  margin: auto;
}

.savebtn button{
  width: 100%;
  margin: 10px auto;
}

.chart h3{
  text-align: center;
}

input[type=range].slider {
  width: 100%;
  margin: 1.5px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  background: #d2d2d2;
  border: 0;
  border-radius: 10.6px;
  width: 100%;
  height: 12px;
  cursor: pointer;
}
input[type=range].slider::-webkit-slider-thumb {
  margin-top: -1.5px;
  width: 20px;
  height: 15px;
  background: #52b1ff;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #e4e4e4;
}
input[type=range].slider::-moz-range-track {
  background: #d2d2d2;
  border: 0;
  border-radius: 10.6px;
  width: 100%;
  height: 12px;
  cursor: pointer;
}
input[type=range].slider::-moz-range-thumb {
  width: 20px;
  height: 15px;
  background: #52b1ff;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 1.5px 0;
  color: transparent;
  width: 100%;
  height: 12px;
  cursor: pointer;
}
input[type=range].slider::-ms-fill-lower {
  background: #c0c0c0;
  border: 0;
  border-radius: 21.2px;
}
input[type=range].slider::-ms-fill-upper {
  background: #d2d2d2;
  border: 0;
  border-radius: 21.2px;
}
input[type=range].slider::-ms-thumb {
  width: 20px;
  height: 15px;
  background: #52b1ff;
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #d2d2d2;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #e4e4e4;
}


  