.header{
    font-size: larger;
    text-align: center;
    font-weight: 600;
    width: 50%;
    margin: 0px auto 20px ;
}

.settings{ 
    min-width: 450px;
    background-color: aliceblue;
    border-radius: 10px; 
    padding: 10px;
    width: 50%;
    margin: 10px auto;
}

.saveBtn{
    width: 120px;
    margin: auto;
}

button{ 
    width: 120px;
}