version: "3"
services:
  react:
   tty: true
   build:
     context: ../react-front
     dockerfile: react.Dockerfile
   ports: 
    - 3000:3000


  flask:
   container_name: flask-api
   build:
     context: ../flask-back
     dockerfile: flask.Dockerfile
   ports: 
    - 5000:5000

