.stax-card{
    max-width: 18rem;
    border-radius: 15px !important ;
    margin: 10px;
    overflow: hidden;
    box-shadow: 3px 10px 10px 2px gray;
    position: relative;
    padding-bottom: 50px;
}


.stax-card-title{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    border-bottom: 1px solid #EEE;

}

.stax-card-body{
    padding: 15px;
}

.stax-card-footer{
    background-color: #DDD;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 50px;
}