@media all and (min-width: 320px) {
    .Register {
      padding: 60px 0;
    }
    
    .Register form {
      border: 1px solid;
      padding: 20px 60px  ;
      background-color: #dfe0e2;
      margin: 0 auto;
      max-width: 480px;
      border-radius: 10px;
    }
  }

.Register{
  justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Register p{
    margin-bottom: 80px;
    text-align: center;
    font-size: 24px;
}

.Register button{
  margin: 3vh auto;
  width: 80%;
  align-items:center;
}