@media all and (min-width: 480px) {
    .Register {
      padding: 60px 0;
    }
    
    .RegisterBox {
      border: 1px solid;
      padding: 5vh 5vw ;
      background-color: #dfe0e2;
      margin: 0 auto;
      max-width: 480px;
      border-radius: 10px;
    }

    .Register{
      justify-content: center;
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    
    .Register h2{
        margin-bottom: 80px;
        text-align: center;
        font-size: 24px;
    }
    
    .Register button{
      margin: 3vh auto;
      width: 80%;
      align-items:center;
    }
  }

