.stax-card{
    min-width: 18rem;
    max-width: 18rem;
    min-height: 25rem;
    border-radius: 20px  ;
    margin: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 10px 2px #999;
    position: relative;
    padding-bottom: 50px;
    transition: 125ms;
}

.stax-card:hover{
    transform: scale(1.1);
    z-index: 1;
}

.stax-card-title{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px;
    font-weight: 500;
    border-bottom: 1px solid #EEE;
    text-align: center;
    margin: auto;
    position: relative;
}




.stax-card-delete{
    margin-left: auto;
    margin-right: 0.5rem;
    position: absolute;
    top: 1em;
    right: 0.5em;
    transition: 200ms;
}

.stax-card-delete img{
    width: 15px;
}


.stax-card-delete:hover{
    cursor: pointer;
    transform: scale(1.2);
}


.stax-card-body{
    padding: 15px;
    margin: auto;
    white-space: pre-line;
}

.stax-card-footer{
    font-weight: 500;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 50px;
}
